.origins-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.origins-manager .edit-button {
    margin-top: 1rem;
    max-width: 150px;
}

.origins-manager .toggle-button {
    margin-top: 1rem;
    max-width: 150px;
}

